:root{
    --b0:purple;
    --b1: yellow;
    --b2: gray;
    --b3: red;
    --b4: blue;
    --b5: green;
    --b6: violet;
--b7: pink;
--b8: orange;
--ball-width:250px ;
--ball-height:250px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
input[type=range]{
width: 100%;
}
#elso{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 75%;
    margin: 10px;
}
#masodik{
    display: flex;
    flex-direction: row;
    height: 200px;
    width:  75%;
    margin: 10px;
}
.block{
    height: 200px;
    width: 75%;
    margin: 10px;
}
body{
    background-color: var(--b0);
}
#b1{
    background-color: var(--b1);
}
#b2{
    background-color: var(--b2);
}
#b3{
    background-color: var(--b3);
}
#b4{
    background-color: var(--b4);
}
#b5{
    background-color: var(--b5);
}#b6{
    background-color: var(--b6);
}
#b7{
    background-color: var(--b7);
}
#b8{
    background-color: var(--b8);
}